<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>geode.loader/baseAccount_Normal_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-1}</string>
			<key>spriteSize</key>
			<string>{166,163}</string>
			<key>spriteSourceSize</key>
			<string>{176,168}</string>
			<key>textureRect</key>
			<string>{{0,0},{166,163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseAccount_Normal_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-1}</string>
			<key>spriteSize</key>
			<string>{166,163}</string>
			<key>spriteSourceSize</key>
			<string>{176,168}</string>
			<key>textureRect</key>
			<string>{{168,0},{166,163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseAccount_Normal_Purple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-1}</string>
			<key>spriteSize</key>
			<string>{166,163}</string>
			<key>spriteSourceSize</key>
			<string>{176,168}</string>
			<key>textureRect</key>
			<string>{{336,0},{166,163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCategory_Big_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{11,-10}</string>
			<key>spriteSize</key>
			<string>{396,395}</string>
			<key>spriteSourceSize</key>
			<string>{418,416}</string>
			<key>textureRect</key>
			<string>{{504,0},{396,395}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-6}</string>
			<key>spriteSize</key>
			<string>{211,218}</string>
			<key>spriteSourceSize</key>
			<string>{225,243}</string>
			<key>textureRect</key>
			<string>{{902,0},{211,218}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-6}</string>
			<key>spriteSize</key>
			<string>{211,218}</string>
			<key>spriteSourceSize</key>
			<string>{225,243}</string>
			<key>textureRect</key>
			<string>{{1122,0},{211,218}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-6}</string>
			<key>spriteSize</key>
			<string>{211,218}</string>
			<key>spriteSourceSize</key>
			<string>{225,243}</string>
			<key>textureRect</key>
			<string>{{1342,0},{211,218}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-6}</string>
			<key>spriteSize</key>
			<string>{211,218}</string>
			<key>spriteSourceSize</key>
			<string>{225,243}</string>
			<key>textureRect</key>
			<string>{{0,165},{211,218}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-6}</string>
			<key>spriteSize</key>
			<string>{211,218}</string>
			<key>spriteSourceSize</key>
			<string>{225,243}</string>
			<key>textureRect</key>
			<string>{{220,165},{211,218}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{211,213}</string>
			<key>spriteSourceSize</key>
			<string>{216,226}</string>
			<key>textureRect</key>
			<string>{{902,213},{211,213}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{211,213}</string>
			<key>spriteSourceSize</key>
			<string>{216,226}</string>
			<key>textureRect</key>
			<string>{{1117,213},{211,213}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{211,213}</string>
			<key>spriteSourceSize</key>
			<string>{216,226}</string>
			<key>textureRect</key>
			<string>{{1332,213},{211,213}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{211,213}</string>
			<key>spriteSourceSize</key>
			<string>{216,226}</string>
			<key>textureRect</key>
			<string>{{0,378},{211,213}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{211,213}</string>
			<key>spriteSourceSize</key>
			<string>{216,226}</string>
			<key>textureRect</key>
			<string>{{215,378},{211,213}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,-4}</string>
			<key>spriteSize</key>
			<string>{305,311}</string>
			<key>spriteSourceSize</key>
			<string>{321,333}</string>
			<key>textureRect</key>
			<string>{{430,397},{305,311}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,-4}</string>
			<key>spriteSize</key>
			<string>{305,311}</string>
			<key>spriteSourceSize</key>
			<string>{321,333}</string>
			<key>textureRect</key>
			<string>{{743,426},{305,311}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,-4}</string>
			<key>spriteSize</key>
			<string>{305,311}</string>
			<key>spriteSourceSize</key>
			<string>{321,333}</string>
			<key>textureRect</key>
			<string>{{1056,426},{305,311}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,-4}</string>
			<key>spriteSize</key>
			<string>{305,311}</string>
			<key>spriteSourceSize</key>
			<string>{321,333}</string>
			<key>textureRect</key>
			<string>{{0,591},{305,311}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,-4}</string>
			<key>spriteSize</key>
			<string>{305,311}</string>
			<key>spriteSourceSize</key>
			<string>{321,333}</string>
			<key>textureRect</key>
			<string>{{313,704},{305,311}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-7}</string>
			<key>spriteSize</key>
			<string>{195,202}</string>
			<key>spriteSourceSize</key>
			<string>{210,228}</string>
			<key>textureRect</key>
			<string>{{1369,426},{195,202}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-7}</string>
			<key>spriteSize</key>
			<string>{195,202}</string>
			<key>spriteSourceSize</key>
			<string>{210,228}</string>
			<key>textureRect</key>
			<string>{{1369,630},{195,202}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-7}</string>
			<key>spriteSize</key>
			<string>{195,202}</string>
			<key>spriteSourceSize</key>
			<string>{210,228}</string>
			<key>textureRect</key>
			<string>{{626,733},{195,202}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-7}</string>
			<key>spriteSize</key>
			<string>{195,202}</string>
			<key>spriteSourceSize</key>
			<string>{210,228}</string>
			<key>textureRect</key>
			<string>{{830,733},{195,202}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-7}</string>
			<key>spriteSize</key>
			<string>{195,202}</string>
			<key>spriteSourceSize</key>
			<string>{210,228}</string>
			<key>textureRect</key>
			<string>{{1034,733},{195,202}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-4}</string>
			<key>spriteSize</key>
			<string>{179,182}</string>
			<key>spriteSourceSize</key>
			<string>{187,196}</string>
			<key>textureRect</key>
			<string>{{1238,834},{179,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-4}</string>
			<key>spriteSize</key>
			<string>{179,182}</string>
			<key>spriteSourceSize</key>
			<string>{187,196}</string>
			<key>textureRect</key>
			<string>{{0,898},{179,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-4}</string>
			<key>spriteSize</key>
			<string>{179,182}</string>
			<key>spriteSourceSize</key>
			<string>{187,196}</string>
			<key>textureRect</key>
			<string>{{626,930},{179,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-4}</string>
			<key>spriteSize</key>
			<string>{179,182}</string>
			<key>spriteSourceSize</key>
			<string>{187,196}</string>
			<key>textureRect</key>
			<string>{{810,930},{179,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-4}</string>
			<key>spriteSize</key>
			<string>{179,182}</string>
			<key>spriteSourceSize</key>
			<string>{187,196}</string>
			<key>textureRect</key>
			<string>{{994,930},{179,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{162,165}</string>
			<key>spriteSourceSize</key>
			<string>{166,176}</string>
			<key>textureRect</key>
			<string>{{184,1011},{162,165}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{162,165}</string>
			<key>spriteSourceSize</key>
			<string>{166,176}</string>
			<key>textureRect</key>
			<string>{{351,1011},{162,165}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{162,165}</string>
			<key>spriteSourceSize</key>
			<string>{166,176}</string>
			<key>textureRect</key>
			<string>{{1178,1015},{162,165}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{162,165}</string>
			<key>spriteSourceSize</key>
			<string>{166,176}</string>
			<key>textureRect</key>
			<string>{{1345,1015},{162,165}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{162,165}</string>
			<key>spriteSourceSize</key>
			<string>{166,176}</string>
			<key>textureRect</key>
			<string>{{0,1079},{162,165}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{148,151}</string>
			<key>spriteSourceSize</key>
			<string>{154,164}</string>
			<key>textureRect</key>
			<string>{{518,1111},{148,151}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{148,151}</string>
			<key>spriteSourceSize</key>
			<string>{154,164}</string>
			<key>textureRect</key>
			<string>{{671,1111},{148,151}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{148,151}</string>
			<key>spriteSourceSize</key>
			<string>{154,164}</string>
			<key>textureRect</key>
			<string>{{824,1111},{148,151}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{148,151}</string>
			<key>spriteSourceSize</key>
			<string>{154,164}</string>
			<key>textureRect</key>
			<string>{{977,1111},{148,151}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{148,151}</string>
			<key>spriteSourceSize</key>
			<string>{154,164}</string>
			<key>textureRect</key>
			<string>{{167,1175},{148,151}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{102,104}</string>
			<key>spriteSourceSize</key>
			<string>{106,116}</string>
			<key>textureRect</key>
			<string>{{320,1175},{102,104}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{102,104}</string>
			<key>spriteSourceSize</key>
			<string>{106,116}</string>
			<key>textureRect</key>
			<string>{{1130,1179},{102,104}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{102,104}</string>
			<key>spriteSourceSize</key>
			<string>{106,116}</string>
			<key>textureRect</key>
			<string>{{1236,1179},{102,104}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{102,104}</string>
			<key>spriteSourceSize</key>
			<string>{106,116}</string>
			<key>textureRect</key>
			<string>{{1342,1179},{102,104}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{102,104}</string>
			<key>spriteSourceSize</key>
			<string>{106,116}</string>
			<key>textureRect</key>
			<string>{{1448,1179},{102,104}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCross_Huge_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{10,-11}</string>
			<key>spriteSize</key>
			<string>{417,416}</string>
			<key>spriteSourceSize</key>
			<string>{458,458}</string>
			<key>textureRect</key>
			<string>{{426,1261},{417,416}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCross_Small_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{7,-7}</string>
			<key>spriteSize</key>
			<string>{265,265}</string>
			<key>spriteSourceSize</key>
			<string>{294,294}</string>
			<key>textureRect</key>
			<string>{{845,1261},{265,265}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Aqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{134,144}</string>
			<key>textureRect</key>
			<string>{{0,1243},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{134,144}</string>
			<key>textureRect</key>
			<string>{{1112,1283},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_DarkGray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{134,144}</string>
			<key>textureRect</key>
			<string>{{1245,1283},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{134,144}</string>
			<key>textureRect</key>
			<string>{{1378,1283},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{134,144}</string>
			<key>textureRect</key>
			<string>{{133,1325},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_LightBlue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{134,144}</string>
			<key>textureRect</key>
			<string>{{266,1325},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Orange.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{134,144}</string>
			<key>textureRect</key>
			<string>{{0,1373},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{134,144}</string>
			<key>textureRect</key>
			<string>{{1112,1413},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Teal.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{134,144}</string>
			<key>textureRect</key>
			<string>{{1245,1413},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseIconSelect_Normal_Selected.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{134,142}</string>
			<key>textureRect</key>
			<string>{{1378,1413},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseIconSelect_Normal_Unselected.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{134,142}</string>
			<key>textureRect</key>
			<string>{{133,1455},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseLeaderboard_Normal_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-1}</string>
			<key>spriteSize</key>
			<string>{134,131}</string>
			<key>spriteSourceSize</key>
			<string>{144,136}</string>
			<key>textureRect</key>
			<string>{{262,1455},{134,131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseTab_Normal_Selected.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{369,114}</string>
			<key>spriteSourceSize</key>
			<string>{369,128}</string>
			<key>textureRect</key>
			<string>{{1112,1543},{369,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseTab_Normal_Unselected.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-3}</string>
			<key>spriteSize</key>
			<string>{369,121}</string>
			<key>spriteSourceSize</key>
			<string>{369,128}</string>
			<key>textureRect</key>
			<string>{{0,1588},{369,121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseTab_Normal_UnselectedDark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-3}</string>
			<key>spriteSize</key>
			<string>{369,121}</string>
			<key>spriteSourceSize</key>
			<string>{369,128}</string>
			<key>textureRect</key>
			<string>{{845,1659},{369,121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>geode.loader/BlankSheet-uhd.png</string>
		<key>size</key>
		<string>{1564,1780}</string>
		<key>textureFileName</key>
		<string>geode.loader/BlankSheet-uhd.png</string>
	</dict>
</dict>
</plist>